---
import { getCollection } from 'astro:content';
import TestimonialCard from './TestimonialCard.astro'
import LinkedInIcon from './icons/LinkedInIcon.astro'
import SectionTitle from './SectionTitle.astro'

const testimonials = await getCollection('testimonials');
const sortedTestimonials = testimonials.sort((a, b) => a.data.order - b.data.order);
---

<section id="testimonials" aria-labelledby="testimonials" class="p-4 mb-12 scroll-mt-16">
  <SectionTitle id="testimonials">Testimonials</SectionTitle>
  <div class="flex flex-col gap-4 w-full items-center mb-8" role="list" aria-label="List of testimonials">
    {sortedTestimonials.map(async (testimonial) => {
      return (
        <div role="listitem">
          <TestimonialCard 
            avatarUrl={testimonial.data.avatarUrl}
            name={testimonial.data.name}
            title={testimonial.data.title}
            linkedIn={testimonial.data.linkedIn}
            content={testimonial.body}
          />
        </div>
      );
    })}
  </div>
  <div class="flex justify-center">
    <a
      href="https://www.linkedin.com/in/tom-bazarnik-a4364010b/edit/forms/recommendation/write/?profileUrn=urn%3Ali%3Afsd_profile%3AACoAABuuQdMB0y66BCNammBKG2dsPmr41tCjXWQ"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Submit a LinkedIn recommendation"
      class="bg-primary-500 hover:bg-primary-600 dark:bg-primary-500 dark:text-primary-100 dark:hover:bg-primary-600 text-white px-4 py-2 rounded-md cursor-pointer flex items-center"
    >
      <LinkedInIcon class="fill-primary-200 dark:fill-primary-100 w-4 h-4 mr-2" />
      Submit a recommendation for me
    </a>
  </div>
</section> 